body {
    background-color: #282c34;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background:
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.artwork {
    height: 60vmin;
}

.frame {
    padding: 30px;
    background-color: darkslategray;
    display: inline-block;
}

.imgDiv {
    padding: 30px;
}

.searchForm {
    background: darkslategray;
}

fieldset {
    border: none;
    font-size: 24px;
}

.searchForm input,
.searchForm label,
.searchForm button {
    font-size: inherit;
    margin: 0.1em 0.2em;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

body {
    font-size: 30px;
    color: chocolate
}