body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.artwork {
    height: 90vmin;
}

.searchForm {
    padding: 4vmin;
    background: burlywood;
    font-size: 20px;
}

.searchForm input,
.searchForm label,
.searchForm button {
    height: 30px;
    padding-left: 20px;
}